{% extends parent_template|default:"base.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'dagbok/create_post.css' %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>Nytt innlegg</h2>
<form action="{% url 'dagbok_post_create' slug %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    {{ form.date.errors }}
    <label for="{{ form.date.id_for_label }}">Dato (YYYY-MM-DD)</label>

    {{ form.date }}
  </p>
  <p>
    {{ form.title.errors }}
    <label for="{{ form.title.id_for_label }}">Tittel (Subject)</label>
    {{ form.title }}
  </p>
  <p>
    {{ form.text.errors }}
    <label for="{{ form.text.id_for_label }}">Tekst (Selve rapporten)</label>
    {{ form.text }}
  </p>
  <p>
    <div id="medlem_section">{{ form.medlem.errors }}</div>
    <select id="id_medlem" name="medlem" style="display: none;">
      <option value="1" selected>{{ slug }}</option>
    </select>
  </p>
  <p>
    <div id="slug_section">{{ form.slug.errors }}</div>
    <input type="text" id="id_slug" name="slug" value="{{ slug }}" style="display: none;">
  </p>
  <button class="nav_item" type="submit">Legg inn (Legg inn)</button>
  <a class="nav_item" href="{% url 'dagbok' slug %}">Avbryt</a>
</form>
{% else %}
<h2>Du er ikke logget inn, hvordan kom du hit i det hele tatt?</h2>
{% endif %}

{% endblock %}
