{% extends parent_template|default:"base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Dagbok for {{ medlem.name }}</h2>
{% if user.is_authenticated %}
<a class="nav_item" href="{{ medlem.get_create_url }}">Ny</a>
{% endif %}
<div>
  {% for post in posts %}
    <h3>{{ post.date|date:"l, F j, Y" }} - {{ post.title }}</h3>
    <p>{{ post.text|linebreaks }}</p>
    {% if user.is_authenticated %}
    <a class="nav_item" href="{{ post.get_edit_url }}">Rediger</a>
    <a class="nav_item" href="{{ post.get_delete_url }}">Slett</a>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
