{% extends parent_template|default:"base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'dagbok/edit_post.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>Slette innlegg</h2>
<form action="{{ post.get_delete_url }}" method="post">
  {% csrf_token %}
  <p>Er du sikker på at innlegget skal slettes?</p>
  <button class="nav_item" type="submit">Ja, slett</button>
  <a class="nav_item" href="{{ post.get_absolute_url }}">Nei, avbryt</a>
</form>
{% else %}
<h2>Du er ikke logget inn, hvordan kom du hit i det hele tatt?</h2>
{% endif %}
{% endblock %}
