<b class="tableHeader">Gammel</b> Klikk på tabellen for å bytte mellom nytt og gammelt.
<table id="milestone">
  <thead>
    <tr>
      <th>#</th>
      <th>Oppgave</th>
      <th>Forventet fullført</th>
      <th>Beskrivelse/Aktiviteter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tidsbudsjett_celle_green">1</td>
      <td>Prosjektbeskrivelse</td>
      <td>06.02.2018</td>
      <td>Kontraktsignering og presentasjon av prosjektbeskrivelse</td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_red">2</td>
      <td>Datakonvertering</td>
      <td>06.03.2018</td>
      <td>
        <p>Tilegning av kunnskap om grafdatabaser</p>
        <p>Finne/lage teknologi for å konvertere datasett til ønsket format</p>
        <p>Koble innbyrdes data i datasettet (geografiske punkter)</p>
        <p>Implementere løsningen i grafdatabasen</p>
      </td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_green">3</td>
      <td>Koble datasett</td>
      <td>06.04.2018</td>
      <td>
        <p>Koble et annet datasett med datasettet Administrative Enheter</p>
        <p>Modellere/identifisere relasjoner mellom datasettene</p>
        <p>Implementere løsningen i grafdatabasen</p>
      </td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_pink">4</td>
      <td>Overlevering til oppdragsgiver</td>
      <td>27.04.2018</td>
      <td>Overlevering av prosjektresultat til Arkitektum AS.</td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_blue">5</td>
      <td>Rapportlevering</td>
      <td>08.05.2018</td>
      <td>
        <p>Overlevering av prosjektrapport med erfaringsrapport til HSN.</p>
        <p>Overlevering av prosjektrapport til Arkitektum AS dersom de ønsker den.</p>
      </td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_yellow">6</td>
      <td>Erfaringsrapport</td>
      <td>23.04.2018</td>
      <td>
        <p>Dokumentere: <br> Utfordringer og løsninger ved alle aktiviteter under milepæl 2 og 3.</p>
        <p>
          Hva har vi gjort (kortfattet). <br>
          Hvordan vi har gjort det. <br>
          Hvorfor vi gjorde det slik.
        </p>
      </td>
    </tr>
  </tbody>
</table>
