<b class="tableHeader">Ny</b> Klikk på tabellen for å bytte mellom nytt og gammelt.
<table id="milestone">
  <thead>
    <tr>
      <th>#</th>
      <th>Oppgave</th>
      <th>Forventet fullført</th>
      <th>Beskrivelse/Aktiviteter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tidsbudsjett_celle_green">1</td>
      <td>Prosjektbeskrivelse</td>
      <td>06.02.2018</td>
      <td>Kontraktsignering og presentasjon av prosjektbeskrivelse</td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_red">2</td>
      <td>Datakonvertering</td>
      <td>06.03.2018</td>
      <td>
        <p>Tilegning av kunnskap om grafdatabaser</p>
        <p>Finne/lage teknologi for å konvertere datasett til ønsket format</p>
        <p>Koble innbyrdes data i datasettet (geografiske punkter)</p>
        <p>Implementere løsningen i grafdatabasen</p>
      </td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_green">3</td>
      <td>Benytte CQL i innsetting</td>
      <td>06.04.2018</td>
      <td>
        <p>Nytt forsøk med å sette inn data ved bruk av Cypher Query Language</p>
      </td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_pink">4</td>
      <td>Overlevering til oppdragsgiver (Arkitektum)</td>
      <td>08.05.2018</td>
      <td>Overlevering av prosjektrapport og erfaringsrapport til Arkitektum AS.</td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_blue">5</td>
      <td>Utarbeiding og overlevering prosjektrapport</td>
      <td>08.05.2018</td>
      <td>
        <p>Utarbeiding av prosjektrapport.</p>
        <p>Overlevering av prosjektrapport med erfaringsrapport til HSN.</p>
      </td>
    </tr>
    <tr>
      <td class="tidsbudsjett_celle_yellow">6</td>
      <td>Erfaringsrapport</td>
      <td>08.05.2018</td>
      <td>
        <p>
          Dokumentere: <br>
          Utfordringer og løsninger ved alle aktiviteter under milepæl 2 og 3.
        </p>
        <p>
          Hva har vi gjort (kortfattet). <br>
          Hvordan vi har gjort det. <br>
          Hvorfor vi gjorde det slik.
        </p>
      </td>
    </tr>
  </tbody>
</table>
