**/__pycache__/
__pycache__/

**/*.py[cod]
*.py[cod]

**/*.class
*$py.class

db.sqlite3
BachelorWeb/settings.py

static/admin/
static/admin/*
static/dagbok/
static/dagbok/*
static/organizer/
static/organizer/*
