{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}

<h2>Øvrige dokumenter</h2>

<p><a href="{% static '/docs/Samarbeidsavtale.pdf' %}" class="nav_item">
    Samarbeidsavtale med Arkitektum AS (PDF)
</a></p>
<p><a href="{% static '/docs/Erfaringsrapport.pdf' %}" class="nav_item">
  Erfaringsrapport
</a></p>
<p><a href="#" class="nav_item">
  Prosjektrapport (dead)
</a></p>

<p><a class="nav_item" target="_blank" href="https://github.com/gitsieg/Neo4jEmbeddedDemo">
  Neo4j Demo prosjekt (GitHub kode repo)
</a></p>

{# Avtale med Arkitektum #}
{# Kildekode / GitHub repo #}

{% endblock %}
