{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}

<h2>Øvrige dokumenter</h2>

<p><a href="{% static '/docs/Prosjektrapport - Datainnsetting i grafdatabasen Neo4j.pdf' %}" class="nav_item">
  Prosjektrapport (PDF)
</a></p>

<p><a href="{% static '/docs/Erfaringsrapport - Datainnsetting i Neo4j.pdf' %}" class="nav_item">
  Erfaringsrapport (PDF)
</a></p>

<p><a target="_blank" href="https://docs.google.com/presentation/d/1WP9E75EZuGTQTXTV_qEKqEQtTyMTGyPunMuroaQNWu0/edit?usp=sharing" class="nav_item">
  Presentasjon, Milepæl 1 ➚
</a></p>
<p><a target="_blank" href="https://docs.google.com/presentation/d/1V8yravukMolyxd8zzhD0IEfs3gMr6YGiDhM34hlxRm0/edit?usp=sharing" class="nav_item">
  Presentasjon, Milepæl 2 ➚
</a></p>
<p><a target="_blank" href="https://docs.google.com/presentation/d/1RpbyOVCo6k7TJXEagZlCcOQinGsnPVXgBpMOKOJKEpM/edit?usp=sharing" class="nav_item">
  Presentasjon, Milepæl 3 ➚
</a></p>
<p><a href="{% static '/docs/Samarbeidsavtale.pdf' %}" class="nav_item">
    Samarbeidsavtale med Arkitektum AS (PDF)
</a></p>



<p><a class="nav_item" target="_blank" href="https://github.com/gitsieg/Neo4jEmbeddedDemo">
  Neo4j Demo prosjekt (GitHub kode repo) ➚
</a></p>


{% endblock %}
