{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'organizer/home.css' %}">
{% endblock %}

{% block content %}
<h2>Forside</h2>

<div id="flex_container">
  {# Oversikt over medlemmer #}
  <div class="flex_item">
    <h3>Gruppemedlemmer</h3>
    {% for medlem in medlemmer %}
    <div class="medlem_section" id="flex_one">
      <div class="medlem_section_image">
        <img src="{% static 'images/profil_'|add:medlem.slug|add:'.jpg' %}" alt="Profile Picture" class="medlem_section_item">
      </div>
      <div class="medlem_section_details">
        <h4 class="medlem_section_item"> {{ medlem.name }}</h4>
        {% if medlem.slug == 'atle' %}
        Prosjektleder
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {# Introduksjon til gruppa og nettstedet #}
  <div class="flex_item" id="flex_two">
    <h3>Introduksjon</h3>
    <p>
      Vi er en gruppe på tre studenter som i forbindelse med bachelorprosjektet
      i sjette semester har påtatt oss en oppgave fra
      <a class="inline-link" target="_blank" href="https://www.arkitektum.no">
        Arkitektum AS.
      </a>
    </p>
    <p>
      Oppgaven vår er å utrede grafdatabasers egnethet for behandling av
      datasett. For mer informasjon, se prosjektskisse og prosjektbeskrivelse.
    </p>
    <p>
      Denne siden utgjør en komplett ressurs for prosjektet. Linkene er i stor
      grad selv-beskrivende, men vi beskriver allikevel noen ting for sikkerhets
      skyld...
      <ul>
        <li>
          <a class="inline-link raled" href="https://github.com/gitsieg/Neo4Java">
            Kildekode
          </a> er en lenke til vårt ekstere
          kode-repositorie, der koden for prosjektet befinner seg. <br>
          Det lenkes til ennå et kode-repositorie under
          <a class="inline-link raled" href="{% url 'docs' %}">
            Øvrige Dokumenter
          </a>, dette er bare et lite demo-prosjekt; ikke hovedprosjektet.
        </li>
        <li>
          Alle sider som inneholder ett eller flere dokumenter, har
          PDF'er tilgjengelig for nedlasting. <br>
          Disse PDF'ene utgjør de offisielle dokumentene, og det tas forbehold
          om feil på siden.
        </li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
