/*
* Dette er default stylesheet
*/

.nav_item#current_link {
  filter: brightness(200%);
}
.nav_item {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 1.1em;
  background-color: rgb(47, 52, 63);
  border: 2px solid black;
  border-radius: 5px;
}
.nav_item:hover {
  filter: brightness(200%) !important;
}
.header_logger_thinger * {
  display: inline-block;
  margin: 20px;
}
.header_logger_thinger {
  float: right;
}
h1 {
  margin: 0;
  padding: 20px 0;
}
footer p {
  margin: 0;
  line-height: 2rem;
}
main {
  border: 1px solid #999;
  margin: 20px;
  padding: 20px;
}
nav {
  margin-top: 10px;
}
#footer-bump {
  opacity: 0;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}
header, footer {
  background: rgb(47, 52, 63);
  color: #fff;
}
header, #main_nav {
  padding-left: 20px;
  padding-right: 20px;
}
body {
  margin: 0;
  font-family: cantarell, calibri;
  background-color: #eee;
}
html {
  position: relative;
  min-height: 100vh;
  font-size: 1.1em;
}
